#online 
{
	text-align: center;
	margin: auto;
	margin-top: 10%
	font-size: 16px;
}

.channel
{
	border-color: black;
	border-style: solid;
	min-width: 200px;
	max-width: 75%;
	height: 60px;
	text-align: center;
	margin: auto;
	font-size: 16px;

}