body
{
	background-color: pink;
}

#online 
{		
	border-top: solid; 
	border-top-color: gray;
	border-left: solid;
	border-left-color: gray;
	border-right: solid;
	border-right-color: gray;
	margin-left: 12.5%;	
	margin-right: 12.5%;
	margin-top: 10%;
	min-width: 225px;
}

#offline
{
	border-left: solid;
	border-left-color: gray;
	border-right: solid;
	border-right-color: gray;
	border-bottom: solid;
	border-bottom-color: gray; 
	margin-left: 12.5%;	
	margin-right: 12.5%;
	min-width: 225px;
}

.dimen
{
	min-width: 225px;
	max-width: 75%
	min-height: 25px;
	max-height: 60px;
}

.channel
{	
	min-width: 225px;
	max-width: 75%;
	min-height: 60px;
	text-align: left;
	margin-left: 2%;
	margin-top: 2%; 
	margin-bottom: 1%;
	font-size: 18px;

}