body
{
	background-color: pink;
}

#wrapper
{	
	margin: auto;
	min-width: 300px;
	max-width: 75%;
	margin-top: 8%;
	border-style: solid;
	border-color: gray;
}

table
{
	width: 100%;
	font-size: 18px;
}

table td
{
	padding-left: 2%;
	padding-top: 1%;
}

table td
{
	padding-top: 1%;
}

table#menu, th
{
	padding-left: 2%;
	cursor: pointer;	
}

#menu
{
	height: 60px;
	font-size: 18px;
	border-bottom: solid;
	border-bottom-color: gray;
}

#online 
{	
	min-width: 225px;
	max-width: 75%;
}

#offline
{
	min-width: 225px;
	max-width: 75%;
}

.hide
{
	display: none;
}

.unhine
{
	display: block;
}
