.allow 
{   margin-bottom: 15px;
    padding: 15px;
    display: inline-block;
    background-color: #1ed643;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    &:hover {
      background-color: darken(#1ed643, 5%);
    }
    &:active {
      background-color: darken(#1ed643, 10%);
      box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
    }
  }

#httpError
{  
  font-size: 30px;
  color: red;
}

body
{
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: block;
}

#geoInfo
{
  margin-top: 5%;
  font-family: "Time New Roman";
  font-size: 40px;
}

#temp
{
  width: 300px;
  margin: auto;
  margin-top: 2%;
  border-color: black;
  border-style: solid;
}

#tempVal
{ 
  font-size: 30px;  
}

#details
{
  margin: auto;
  margin-top: 2%;
  width: 375px;
  border-color: black;
  border-style: solid;
  font-size: 20px;
}
