body
{
	background-color: #42f4eb;
}

#name
{
	margin: auto;
	margin-top: 5%;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	font-family: "Time New Roman";
	text-decoration: underline;
}

.title
{
	margin: auto;
	margin-top: 3%;
	margin-bottom: 1%;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-family: "Time New Roman";
	text-decoration: underline;
}

.center
{
	margin: auto;
	margin-top: 2%;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: "Time New Roman";

	border-color: black;
	border-style: solid;
}

.hide
{
	display: none;
}

.result
{
	font-family: 'Time New Roman'; 
	font-size: 20px; 
	margin-left: 2%;
}

table
{
	margin: auto;
	margin-top: 3%;
	margin-bottom: 4%;
	text-align: left;
}