
body
{
	background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/retina_wood.png');
}

.outter
{
	/* Dimensions */
	width: 500px;
	height: 475px;
	
	/* Position on the screen */
	position: relative;
	top: 15vh;
	margin: auto;
	text-align: center;
	padding-top: 0.5%;

	/* Properties */
	border-radius: 100%;
	background-color: #333;
	box-shadow: 0px 0px 15px #222;
}

.box
{
  position: relative;
  width: 225px;
  height: 225px;
  background-color: grey;
  border: 12px solid #333;
}
.inline
{
  display: inline-block;
}
.row-margin
{
	/*margin-top: 4px;*/
}
.top-left
{
	border-top-left-radius: 100%; 
}
.top-right
{
	border-top-right-radius: 100%; 
}
.bottom-left
{
	border-bottom-left-radius: 100%; 
}
.bottom-right
{
	border-bottom-right-radius: 100%; 
}
.red
{
	background-color: red;
}
.blue
{
	background-color: blue;
}
.yellow
{
	background-color: yellow;
}
.green
{
	background-color: green;
}

/* Center Circle CSS*/
.circle
{
	/* Dimensions */
	width: 250px;
	height: 250px;
	
	/* Properties */
	border-radius: 100%;
	background-color: #ECE7EE;
	border: 12px solid #333;

	/* Position */
	position: absolute;
	top: 25%;
	left: 25%;	
}