
body
{
	background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/retina_wood.png');
}

.outter
{
	/* Dimensions */
	width: 500px;
	height: 500px;
	
	/* Position on the screen */
	position: relative;
	top: 15vh;
	margin: auto;
	text-align: center;
	padding-top: 0.5%;

	/* Properties */
	border-radius: 100%;
	background-color: #333;
	box-shadow: 0px 0px 15px #222;
}
.inner
{
	position: relative;
  	top: 12px;
}

.box
{
  	position: relative;
  	width: 225px;
  	height: 225px;
  	background-color: grey;
  	border: 12px solid #333;
}
.inline
{
  	display: inline-block;
}
.row-margin
{
	margin-top: 4px;
}
.top-left
{
	border-top-left-radius: 100%; 
}
.top-right
{
	border-top-right-radius: 100%; 
}
.bottom-left
{
	border-bottom-left-radius: 100%; 
}
.bottom-right
{
	border-bottom-right-radius: 100%; 
}
.red
{
	background-color: #b71010;
}
.red.light
{
  background-color: #ff4d4d;
}
.blue
{
	background-color: #2052a3;
}
.blue.light
{
	background-color: #99ebff;
}
.yellow
{
	background-color: #ffcc00;
}
.yellow.light
{
	background-color: #ffff66;
}
.green
{
	background-color: #33a821;
}
.green.light
{
	background-color: #99ff66;
}
.led
{
  width: 10px;
  height: 10px;
  background-color: #32050C;
  border-radius: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid #222;
  top: -18px;
}
.led-on
{
  background-color: #FC0102;
}

/* Center Circle CSS*/
.circle
{
	/* Dimensions */
	width: 250px;
	height: 250px;
	
	/* Properties */
	border-radius: 100%;
	background-color: #ECE7EE;
	border: 12px solid #333;

	/* Position */
	position: absolute;
	top: 25%;
	left: 25%;	
}
.name
{
	font-family: Georgia;
	font-size: 4em;
	margin-top: 6%;
    color : #222;

}
.display
{
  	width : 60px;
  	position: relative;
  	text-align: center;
}
.score
{
  	width: 50px;
  	position:relative;
  	margin: auto;
	
	color: #DC0D29;
  	padding: 0px;
  	font-size: 2em;
  	font-family: monospace;
  	background-color: #32050C;
  	border: 4px solid #222;
  	border-radius: 10px;
}
.caption
{
	font-size: 1em;
	margin-top: 5px;
  	text-align:center;
}
.btn-box
{
	width: 50px;
	position: relative;
}

.round-btn
{
	width: 25px;
	height: 25px;

	margin:auto;
	position: relative;
	top: -5px;

	background-color: yellow;
	border-radius: 100%;
	border : 4px solid #444;
}
.switch-slot
{
	width: 40px;
	height: 20px;
	background-color: black;
	position:relative;
    top:5px;
    cursor: pointer;
}
.switch-btn
{
  	width: 20px;
	height: 20px;
  	border-radius:4px;
  	background-color : #3193DE;
  	position:relative;
  	border : 2px solid #333;
  	left: -10px;
}
.switch-on
{
  margin-left: 30px;
}

.clickable
{
  pointer-events: auto;
  cursor: pointer;
}
.unclickable
{
  pointer-events: none;
}
