body
{
	background-color: gray;
}

#board
{
	margin: auto;
	margin-top: 2%;
	width: 400px;
	height: 402px;
	background-color: #35cc7b;
	display: none;
}

#turn
{
	margin: auto;
	margin-top: 8%;
	text-align: center;
	font-size: 30px;
}

#stats
{
	margin: auto;
	text-align: center;
	font-size: 24px;
}

#first
{
	width: 400px;
	height: 134px;
	border-top-style: solid;
	border-left-style: solid;
	border-color: black; 
}

#second
{
	width: 400px;
	height: 134px;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-color: black; 
}

#third
{
	width: 400px;
	height: 134px;
	border-left-style: solid;
	border-bottom-style: solid;
	border-color: black;
}

#ask
{
	margin: auto;
	margin-top: 10%;
	width: 300px;
	height: 300px;
	padding-top: 2%;
	background-color: #35cc7b;
	text-align: center;
}

.hide
{
	display: none;
}

table
{
	width: 400px;
	height: 134px;
}

table tr td
{
	width: 33%;
	height: 134px;
	border-right-style: solid;	
	border-color: black;
	text-align: center;
	font-size: 40px;
}

button
{
	font-size: 40px;
	width: 60px;
	height: 40px;
}